openapi: 3.1.0
info:
  title: Kosovo Regional Media Monitor API
  description: >
    Koszovóra és a környező országokra, különösen Szerbiára fókuszáló médiamonitorozó és közösségi médiaelemző API. 
    Lehetővé teszi hírek, közösségi médiatartalmak elemzését, szentimentelemzést, botaktivitás és dezinformáció felismerését,
    narratívák és regionális trendek nyomon követését, statisztikai összesítőket és automatikus válaszgenerálást.
  version: 1.1.0
servers:
  - url: https://api.kosovo-media-monitor.ai
    description: Production server
paths:
  /news/search:
    get:
      operationId: searchNews
      summary: Hírek keresése Koszovóra és Szerbiára fókuszálva
      description: Lekéri a híreket a megadott hírportálokról időintervallum és kulcsszavak alapján.
      parameters:
        - name: from
          in: query
          required: true
          schema:
            type: string
            format: date
        - name: to
          in: query
          required: true
          schema:
            type: string
            format: date
        - name: keywords
          in: query
          required: false
          schema:
            type: string
        - name: sources
          in: query
          required: false
          schema:
            type: string
      responses:
        "200":
          description: Talált hírek listája.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/NewsItem'

  /socialmedia/trending:
    get:
      operationId: getTrendingSocialMedia
      summary: Közösségi média trendek Koszovóra és Szerbiára vonatkozóan
      description: Visszaadja a legnépszerűbb posztokat a megadott platformról adott időintervallumban.
      parameters:
        - name: platform
          in: query
          required: true
          schema:
            type: string
            enum: [facebook, instagram, x, tiktok, telegram, snapchat]
        - name: from
          in: query
          required: true
          schema:
            type: string
            format: date
        - name: to
          in: query
          required: true
          schema:
            type: string
            format: date
      responses:
        "200":
          description: A közösségi médiás trendek listája.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SocialMediaTrend'

  /socialmedia/live:
    get:
      operationId: getLiveSocialMedia
      summary: Legfrissebb közösségi médiás hírek
      description: Lekéri a valós időben észlelt, legfrissebb közösségi médiás tartalmakat Koszovóra és Szerbiára vonatkozóan.
      parameters:
        - name: platform
          in: query
          required: false
          schema:
            type: string
            enum: [facebook, instagram, x, tiktok, telegram, snapchat]
        - name: limit
          in: query
          required: false
          schema:
            type: integer
            default: 10
      responses:
        "200":
          description: Legfrissebb tartalmak listája.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SocialMediaTrend'

  /text/analyze:
    post:
      operationId: analyzeText
      summary: Szövegelemzés
      description: Elemezi a megadott szöveg érzelmi tónusát, kulcsszavait és domináns narratíváit.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [text, language]
              properties:
                text:
                  type: string
                language:
                  type: string
      responses:
        "200":
          description: Elemzési eredmények.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TextAnalysisResult'

  /socialmedia/botcheck:
    post:
      operationId: checkBotActivity
      summary: Botaktivitás ellenőrzése
      description: Elemzi, hogy a megadott felhasználók botként viselkednek-e.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [usernames]
              properties:
                usernames:
                  type: array
                  items:
                    type: string
      responses:
        "200":
          description: Bot-aktivitási eredmények.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/BotCheckResult'

  /text/disinfo-check:
    post:
      operationId: checkDisinformation
      summary: Dezinformáció felismerés
      description: Szöveg dezinformációra utaló mintáinak azonosítása Koszovóval és Szerbiával kapcsolatosan.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [text, language]
              properties:
                text:
                  type: string
                language:
                  type: string
      responses:
        "200":
          description: Dezinformáció elemzés eredménye.
          content:
            application/json:
              schema:
                type: object
                properties:
                  isDisinfo:
                    type: boolean
                  patterns:
                    type: array
                    items:
                      type: string
                  relatedNarratives:
                    type: array
                    items:
                      type: string
                  credibilityScore:
                    type: number

  /narratives/evolution:
    get:
      operationId: getNarrativeEvolution
      summary: Narratívák időbeli követése
      description: Követi Koszovóra és Szerbiára vonatkozó kulcsfontosságú narratívák időbeli alakulását.
      parameters:
        - name: keyword
          in: query
          required: true
          schema:
            type: string
        - name: from
          in: query
          required: true
          schema:
            type: string
            format: date
        - name: to
          in: query
          required: true
          schema:
            type: string
            format: date
      responses:
        "200":
          description: Narratíva idővonal.
          content:
            application/json:
              schema:
                type: object
                properties:
                  timeline:
                    type: array
                    items:
                      type: object
                      properties:
                        date:
                          type: string
                        sentiment:
                          type: string
                        dominantNarratives:
                          type: array
                          items:
                            type: string

  /stats/summary:
    get:
      operationId: getStatsSummary
      summary: Statisztikai összefoglalók
      description: Átfogó összefoglalók Koszovóra és Szerbiára vonatkozó tartalmakról.
      parameters:
        - name: region
          in: query
          required: false
          schema:
            type: string
            enum: [kosovo, serbia]
        - name: type
          in: query
          required: false
          schema:
            type: string
            enum: [media, social]
      responses:
        "200":
          description: Statisztikai mutatók.
          content:
            application/json:
              schema:
                type: object
                properties:
                  postCount:
                    type: integer
                  avgEngagement:
                    type: number
                  disinfoRatio:
                    type: number

  /socialmedia/top-authors:
    get:
      operationId: getTopAuthors
      summary: Top szerzők és influenszerek
      description: Koszovói és szerbiai szerzők listázása engagement és aktivitás alapján.
      parameters:
        - name: region
          in: query
          required: false
          schema:
            type: string
            enum: [kosovo, serbia]
        - name: platform
          in: query
          required: false
          schema:
            type: string
            enum: [facebook, instagram, x, tiktok, telegram, snapchat]
        - name: limit
          in: query
          required: false
          schema:
            type: integer
            default: 10
      responses:
        "200":
          description: Top szerzők.
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    username:
                      type: string
                    region:
                      type: string
                    postCount:
                      type: integer
                    avgEngagement:
                      type: number
                    sentimentProfile:
                      type: string

  /geo/hotspots:
    get:
      operationId: getGeoHotspots
      summary: Regionális aktivitás
      description: A legaktívabb földrajzi területek megjelenítése közösségi média aktivitás alapján Koszovóban és Szerbiában.
      parameters:
        - name: region
          in: query
          required: false
          schema:
            type: string
            enum: [kosovo, serbia]
      responses:
        "200":
          description: Lokációs aktivitási adatok.
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    location:
                      type: string
                    postCount:
                      type: integer
                    dominantTopic:
                      type: string

  /response/generate:
    post:
      operationId: generateResponse
      summary: Automatikus válaszgenerálás
      description: Dezinformációs vagy érzékeny tartalmakra való reagálás elősegítése különböző tónusokban.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [text, language, tone]
              properties:
                text:
                  type: string
                language:
                  type: string
                tone:
                  type: string
                  enum: [neutral, factual, emotional]
      responses:
        "200":
          description: Válaszjavaslatok listája.
          content:
            application/json:
              schema:
                type: object
                properties:
                  responses:
                    type: array
                    items:
                      type: string

components:
  securitySchemes:
    apiKeyAuth:
      type: apiKey
      in: header
      name: X-API-Key
  schemas:
    NewsItem:
      type: object
      properties:
        title:
          type: string
        url:
          type: string
        publishedAt:
          type: string
        summary:
          type: string
        source:
          type: string

    SocialMediaTrend:
      type: object
      properties:
        platform:
          type: string
        postUrl:
          type: string
        content:
          type: string
        engagement:
          type: object
          properties:
            likes:
              type: integer
            shares:
              type: integer
            comments:
              type: integer
        sentiment:
          type: string
        authorType:
          type: string

    TextAnalysisResult:
      type: object
      properties:
        sentiment:
          type: string
        keywords:
          type: array
          items:
            type: string
        narrativeClusters:
          type: array
          items:
            type: string

    BotCheckResult:
      type: object
      properties:
        username:
          type: string
        botProbability:
          type: number

security:
  - apiKeyAuth: []
